<html>
<head>
    <meta charset="utf-8">
    <title>
        大物实验我***
    </title>
    <style>
        div{
            height:400px;
            width:40%;
            margin:0 auto;
            margin-bottom:20px;
            margin-top:200px;
        }
    </style>
</head>
<body background="/static/images/background.jpg" style="background-repeat:no-repeat;
	background-size:100% 100%;background-attachment:fixed">
    <div>
        <h1>{{hello}}</h1>
        <br>
<!--        <a href="http://127.0.0.1:8000/login-form">登录</a>-->
<!--        <a href="http://127.0.0.1:8000/humseg">人像分割</a>-->
	<a href="http://42.192.236.48:80/dwsy"><font color="red" >表面张力系数</font></a>
	<br>
	<a href="http://42.192.236.48:80/drawimage"><font color="red">线性回归绘图</font></a>
    </div>
</body>
</html>
